/* Github Pages Portfolio */

* {
    margin: 0;
    padding: 0;
    background-color: #039497
}

main {
    background-color: #039497;
    padding: 10px;
}
.email {
    color: black;
}

.socialink {
    color: black;
    text-decoration: none;
    display: inline;
}
.projectlink {
    color: blue;
    text-decoration: underline;
    text-decoration-color: black;
}